{% block title %}
{{ 'views.new.creation'|trans({'%entity%': 'Pottery'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
    {{ JSFV(form) }}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}
<style>

div.savestatus{ /* Style for the "Saving Form Contents" DIV that is shown at the top of the form */
    width:200px;
    padding:2px 5px;
    border:1px solid gray;
    background:#fff6e5;
    -webkit-box-shadow: 0 0 8px #818181;
    box-shadow: 0 0 8px #818181;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color:red;
    position:absolute;
    top:-10px;
    }

form#feedbackform div{ /*CSS used by demo form*/
    margin-bottom:9px;
}

</style>
    {% stylesheets
        '@KdigOrientBundle/Resources/public/less/orient.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
<form id="potteryform" class="well form-inline" action="{{ path('pottery_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </p>
    </div>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('pottery') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script type="text/javascript">
$(document).ready( function () {
    var formsave1 = new autosaveform({
            formid: 'potteryform',
            pause: 2000 
    });
});
</script>

    <script type="text/javascript">
        /*$(document).ready( function () {
            $('.controls').not('.collection > .control-group > .controls').hide('slow');
            $('body').click( function() {
                $('.controls').not('.collection > .control-group > .controls').hide('fast')
            });
            $(".control-label").on("click", function(event){ 
                event.preventDefault(); 
                event.stopPropagation();
                var control = $(this).next('.controls').not('.collection > .control-group > .controls');
                control.toggle('fast');
            });
            
        });*/
    </script>
{% endblock %}