{% block title %}
    {{ 'views.show.show'|trans({'%entity%': 'Pottery'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Pottery</h1>

{#{ mopa_bootstrap_navbar('showmenupottery') }#}
<div class="container-fluid">
        <div class="span4">
            <label class="control-label">Tcode</label>
                            
                <div class="selected">{{ entity.tcode }}</legend>
            </div>
        </div>        
        <div class="span4">
            <label class="control-label">Remarks</label>
            <div class="selected">{{ entity.remarks }}</div> 
        </div>        <div class="span4">
            <label class="control-label">Created</label>
                            <div class="selected">{{ entity.created|date('Y-m-d H:i:s') }}</div>            </div>
        </div>        <div class="span4">
            <label class="control-label">Typecontext</label>
                            
                <div class="selected">{{ entity.typecontext }}</div>            
        </div>        <div class="span4">
            <label class="control-label">Outercolor</label>
                            <div class="selected">{{ entity.outercolor }}</div> 
        </div>        <div class="span4">
            <label class="control-label">Innercolor</label>
                            <div class="selected">{{ entity.innercolor }}</div>
        </div>        <div class="span4">
            <label class="control-label">Fabriccolor</label>
                            <div class="selected">{{ entity.fabriccolor }}</div> 
        </div>        <div class="span4">
            <label class="control-label">Rimdiameter</label>
                            <div class="selected">{{ entity.rimdiameter }}</div>
        </div>        <div class="span4">
            <label class="control-label">Rimwidth</label>
                            <div class="selected">{{ entity.rimwidth }}</div>
        </div>        <div class="span4">
            <label class="control-label">Wallwidth</label>
                            <div class="selected">{{ entity.wallwidth }}</div> 
        </div>        <div class="span4">
            <label class="control-label">Maxwalldiameter</label>
                            <div class="selected">{{ entity.maxwalldiameter }}</div>
        </div>        <div class="span4">
            <label class="control-label">Bottomwidth</label>
                            <div class="selected">{{ entity.bottomwidth }}</div>
        </div>        <div class="span4">
            <label class="control-label">Height</label>
                            <div class="selected">{{ entity.height }}</div>
        </div>        <div class="span4">
            <label class="control-label">Basediameter</label>
                            <div class="selected">{{ entity.basediameter }}</div>
        </div>        <div class="span4">
            <label class="control-label">Restored</label>
                            <div class="selected">{{ entity.restored }}</div> 
        </div>
        <div class="span4">
            <label class="control-label">Datation</label>
                <div class="selected">{{ entity.datation }}</legend>
            </div>
        </div>  
        <div class="span12">
            <legend>
                <label class="control-label">Inner Surface Treatment</label>
                    {% for element in entity.surfacetratin %}
                        <div class="selected">{{element.vocsurfacetratoption}} - {{element.color}}</div> <br />
                    {% endfor %}
            </legend>
        </div>  
        <div class="span12">
            <legend>
                <label class="control-label">Outer Surface Treatment</label>
                {% for element in entity.surfacetratout %}
                    <div class="selected">{{element.vocsurfacetratoption}} - {{element.color}}</div> <br />
                {% endfor %}
            </legend>
        </div>  
        <div class="span12">
            <legend>
                <label class="control-label">Inner & Outer Surface Treatment</label>
                {% for element in entity.surfacetratinout %}
                    <div class="selected">{{element.vocsurfacetratoption}} - {{element.color}}</div> <br />
                {% endfor %}
            </legend>
        </div>  
        <div class="span12">
            <legend>
                <label class="control-label">Decoration Inner</label>
                {% for element in entity.potdecorationin %}
                    <div class="selected">{{element.decorationoption}} - {{element.color}}</div> <br />
                {% endfor %}
            </legend>
        </div>
        <div class="span12">
            <legend>
                <label class="control-label">Decoration Outer</label>
                {% for element in entity.potdecorationout %}
                    <div class="selected">{{element.decorationoption}} - {{element.color}}</div> <br />
                {% endfor %}
            </legend>
        </div>
        <div class="span12">
            <legend>
                <label class="control-label">Decoration Inner & Outer</label>
                {% for element in entity.potdecorationinout %}
                    <div class="selected">{{element.decorationoption}} - {{element.color}}</div> <br />
                {% endfor %}
            </legend>
        </div>  
</div>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('pottery') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('pottery_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('pottery_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}