{% block title %}
    {{ 'views.edit.edit'|trans({'%entity%': 'Preobject'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}

<form class="well" action="{{ path('preobject_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('preobject') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('preobject_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#kdig_archaeologicalbundle_preobjecttype_bucket').change(function() {
            var id_bucket = $("#kdig_archaeologicalbundle_preobjecttype_bucket option:selected").val();
            var routegetdefault = Routing.generate('kdig_preobject_defaulttext', { id_bucket: id_bucket });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_preobjecttype_name','fill');
        });
    });
</script>
{% endblock %}