{% block content %}
<div class="span2 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span10 center">
    {% block page_header %}
    <div class="page-header span12">
        <h5>{{ 'views.show.show'|trans({'%entity%': 'Preobject'}, 'JordiLlonchCrudGeneratorBundle') }}</h5>
    </div>
    {% endblock page_header %}
    {% block content_content %}
        <div class="span12">      
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.name }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Remarks</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.remarks }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Created</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.created|date('Y-m-d H:i:s') }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Updated</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.updated|date('Y-m-d H:i:s') }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Isactive</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.isActive }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Ispublic</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.isPublic }}</span>            </div>
            </div>        <div class="control-group">
                <label class="control-label">Isdelete</label>
                <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.isDelete }}</span>            </div>
            </div>
        </div>
    {% endblock content_content %}
</div>
{% endblock content %}