{% block title %}
    {{ 'views.new.creation'|trans({'%entity%': 'Bucket'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}

{% block page %}

<form class="well" action="{{ path('bucket_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('bucket') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var id_us = $("#kdig_orientbundle_buckettype_us option:selected").val();
        var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_us: id_us });
        getdefaultstringAjax(routegetdefault,'#kdig_orientbundle_buckettype_name','fill');
        
        $('#kdig_orientbundle_buckettype_us').change(function() {
            var id_us = $("#kdig_orientbundle_buckettype_us option:selected").val();
            var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_us: id_us });
            getdefaultstringAjax(routegetdefault,'#kdig_orientbundle_buckettype_name','fill');
        });
    });
</script>
{% endblock %}