{% block title %}
    {{ 'views.new.creation'|trans({'%entity%': 'Sample'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

{{ form_javascript(form) }}
{{ form_stylesheet(form) }}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}

<form id="sampleform" action="{{ path('sample_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">
        {{ form_widget(form) }}
        <p class="span12">
            <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </p>
    </div>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('sample') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var formsave1 = new autosaveform({
                formid: 'sampleform',
                pause: 2000 
        });
    });
</script>
{% endblock %}