{% block content %}
<div class="span2 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span10 center">
    {% block page_header %}
    <div class="page-header span12">
        <h5>{{ 'views.new.creation'|trans({'%entity%': 'Sample'}, 'JordiLlonchCrudGeneratorBundle') }}</h5>
    </div>
    {% endblock page_header %}
    {% block content_content %}

        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
        {{ JSFV(form) }}

        {{ form_javascript(form) }}
        {{ form_stylesheet(form) }}

        <form id="sampleform" action="{{ path('sample_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="row-fluid">
                {{ form_widget(form) }}
                <p class="span12">
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </div>
        </form>

        <div>
            <div class="float-left">
                <a class="btn" href="{{ path('sample') }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </a>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            var formsave1 = new autosaveform({
                    formid: 'sampleform',
                    pause: 2000 
            });
        });
        </script>
    {% endblock content_content %}
</div>
{% endblock content %}