{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Objectvoc\VocObjPreservation'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row">

    <div class="col-md-8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Objectvoc\VocObjPreservation'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="col-md-2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-md-2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-md-12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('objectvoc_vocobjpreservation') }}" method="get" {{ form_enctype(filterForm) }}>
                {{ form_row(filterForm.id) }}
                {{ form_row(filterForm.name) }}
                {{ form_row(filterForm.remarks) }}
                {{ form_row(filterForm.created) }}
                {{ form_row(filterForm.updated) }}
                {{ form_row(filterForm.isActive) }}
                {{ form_row(filterForm.isPublic) }}
                {{ form_row(filterForm.isDelete) }}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="col-md-12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Remarks</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Isactive</th>
            <th>Ispublic</th>
            <th>Isdelete</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('objectvoc_vocobjpreservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.remarks }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.isActive }}</td>
            <td>{{ entity.isPublic }}</td>
            <td>{{ entity.isDelete }}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('objectvoc_vocobjpreservation_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('objectvoc_vocobjpreservation_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="col-md-4">
    {{ pagerHtml|raw }}
    </div>

        <div class="col-md-8">
    <a class="btn btn-primary likepaginator" href="{{ path('objectvoc_vocobjpreservation_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Objectvoc\VocObjPreservation
        </a>
    </div>
    </div>

{% endblock %}