{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Samplevoc\VocSampleType'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Samplevoc\VocSampleType</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.id }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.name }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Number</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.number }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Remarks</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.remarks }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Created</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.created|date('Y-m-d H:i:s') }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Updated</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.updated|date('Y-m-d H:i:s') }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Isactive</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.isActive }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ispublic</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.isPublic }}</col-md->            </div>
        </div>        <div class="control-group">
            <label class="control-label">Isdelete</label>
            <div class="controls">                <col-md- class="input-xlarge uneditable-input">{{ entity.isDelete }}</col-md->            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('samplevoc_vocsampletype') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('samplevoc_vocsampletype_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('samplevoc_vocsampletype_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}