{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Object'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Object'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('object') }}" method="get" {{ form_enctype(filterForm) }}>
                {{ form_row(filterForm.id) }}
                {{ form_row(filterForm.number) }}
                {{ form_row(filterForm.remarks) }}
                {{ form_row(filterForm.created) }}
                {{ form_row(filterForm.updated) }}
                {{ form_row(filterForm.isActive) }}
                {{ form_row(filterForm.isPublic) }}
                {{ form_row(filterForm.isDelete) }}
                {{ form_row(filterForm.isphotographed) }}
                {{ form_row(filterForm.drawned) }}
                {{ form_row(filterForm.fragments) }}
                {{ form_row(filterForm.inscription) }}
                {{ form_row(filterForm.dateoofcontext) }}
                {{ form_row(filterForm.height) }}
                {{ form_row(filterForm.lenght) }}
                {{ form_row(filterForm.width) }}
                {{ form_row(filterForm.thickness) }}
                {{ form_row(filterForm.diameter) }}
                {{ form_row(filterForm.perforationdiameter) }}
                {{ form_row(filterForm.weight) }}
                {{ form_row(filterForm.bibliography) }}
                {{ form_row(filterForm.restorationdate) }}
                {{ form_row(filterForm.analysisdate) }}
                {{ form_row(filterForm.analysisreport) }}
                {{ form_row(filterForm.location) }}
                {{ form_row(filterForm.museum_acquisition) }}
                {{ form_row(filterForm.museum_acquisition_notes) }}
                {{ form_row(filterForm.exhibition_history) }}
                {{ form_row(filterForm.itaremarks) }}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Remarks</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Isactive</th>
            <th>Ispublic</th>
            <th>Isdelete</th>
            <th>Isphotographed</th>
            <th>Drawned</th>
            <th>Fragments</th>
            <th>Inscription</th>
            <th>Dateoofcontext</th>
            <th>Height</th>
            <th>Lenght</th>
            <th>Width</th>
            <th>Thickness</th>
            <th>Diameter</th>
            <th>Perforationdiameter</th>
            <th>Weight</th>
            <th>Bibliography</th>
            <th>Restorationdate</th>
            <th>Analysisdate</th>
            <th>Analysisreport</th>
            <th>Location</th>
            <th>Museum_acquisition</th>
            <th>Museum_acquisition_notes</th>
            <th>Exhibition_history</th>
            <th>Itaremarks</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('object_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.number }}</td>
            <td>{{ entity.remarks }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.isActive }}</td>
            <td>{{ entity.isPublic }}</td>
            <td>{{ entity.isDelete }}</td>
            <td>{{ entity.isphotographed }}</td>
            <td>{{ entity.drawned }}</td>
            <td>{{ entity.fragments }}</td>
            <td>{{ entity.inscription }}</td>
            <td>{{ entity.dateoofcontext }}</td>
            <td>{{ entity.height }}</td>
            <td>{{ entity.lenght }}</td>
            <td>{{ entity.width }}</td>
            <td>{{ entity.thickness }}</td>
            <td>{{ entity.diameter }}</td>
            <td>{{ entity.perforationdiameter }}</td>
            <td>{{ entity.weight }}</td>
            <td>{{ entity.bibliography }}</td>
            <td>{% if entity.restorationdate %}{{ entity.restorationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.analysisdate %}{{ entity.analysisdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.analysisreport }}</td>
            <td>{{ entity.location }}</td>
            <td>{{ entity.museumacquisition }}</td>
            <td>{{ entity.museumacquisitionnotes }}</td>
            <td>{{ entity.exhibitionhistory }}</td>
            <td>{{ entity.itaremarks }}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('object_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('object_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('object_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Object
        </a>
    </div>
    </div>

{% endblock %}