{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
{% import 'knp_menu.html.twig' as macros %}
{% from 'KdigTemplateBundle:Default:icons.html.twig' import icon %}
<a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
    {% if item.extras.icon|default(false) %}
        {{ icon(item.extras.icon, item.extras.icon_white|default(false)) }}
    {% endif %}
    {{ block('label') }}
</a>
{% endblock %}

{% block navbar %}
<div class=" 
     {{ (navbar.hasOption('inverse') and  navbar.getOption('inverse')) ? ' navbar-inverse' : '' }}
     {{ (navbar.hasOption('fixedTop') and  navbar.getOption('fixedTop')) ? ' navbar-fixed-top' : '' }}
     {{ (navbar.hasOption('staticTop') and  navbar.getOption('staticTop')) ? ' navbar-static-top' : '' }}"
    >
    {{ navbar.hasMenu('menu') ? 
        knp_menu_render(navbar.getMenu('menu'), {
            'currentClass': 'active', 
            'ancestorClass': 'active', 
            'allow_safe_labels': 'true'}) 
        : 
        '' }}
</div>
{% endblock %}
