{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash, flash, advanced_flash  %}

<!DOCTYPE html>

{% block html_tag %}
<html>
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'

        '@KdigTemplateBundle/Resources/public/less/grid.less'
        '@KdigOrientBundle/Resources/public/less/orient.less'
        '@KdigTemplateBundle/Resources/public/css/select2/select2.css'
        '@KdigTemplateBundle/Resources/public/less/kdigtemplatebundle.less'
        '@KdigTemplateBundle/Resources/public/css/kdig.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% endblock head_style %}

        
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% block head_script %}
    {% javascripts
        '@KdigTemplateBundle/Resources/public/js/jquery-1.9.1.min.js'    
 
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'

        '@KdigTemplateBundle/Resources/public/js/spin.min.js'
        '@KdigTemplateBundle/Resources/public/js/jquery.spin.js'
        '@KdigTemplateBundle/Resources/public/js/jquery.form.min.js'
        '@KdigTemplateBundle/Resources/public/js/bootbox.min.js'
        '@KdigTemplateBundle/Resources/public/js/autosaveform.js'
        '@KdigTemplateBundle/Resources/public/js/jquery.flashMessage.js'
        '@KdigTemplateBundle/Resources/public/js/select2/select2.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        
    {% endjavascripts %}
    {% endblock head_script %}

    <title>{#{% block title %}#}Kdig Project .2{#{% endblock title %}#}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block navbar %}
{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, staticTop: false, inverse: false } %}
    {% block toggle %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" >
    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".left-menu" >
    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".right-menu" >
    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    {% endblock %}
    {% block brand %}
        <a class="navbar-brand" href="{{ path('default_index') }}">KdigProject</a>
    {% endblock brand %}

    {% block menu %}
        {{ mopa_bootstrap_menu('main', {'automenu': 'navbar', 'pull-left': true}) }}
        {{ mopa_bootstrap_menu('usermenu', {'automenu': 'navbar', 'pull-right': true}) }}
        {{ mopa_bootstrap_menu('selectgroup', {'automenu': 'navbar', 'pull-right': true}) }}
        {{ mopa_bootstrap_menu('selectarea', {'automenu': 'navbar', 'pull-right': true}) }}
    {% endblock %}
{% endembed %}
{% endblock navbar %}
            
{% block body %}
    <a id="main-menu-toggle" class="hidden-phone open">{{ icon('indent-left') }}</i>&nbsp;</a>
    <a id="widgets-area-button" class="hidden-tablet hidden-phone open">{{ icon('indent-right') }}</i>&nbsp;</a>
    
    {% block container %}
    <div class="row big-container ">
        {% block header %}
        {% endblock header %}

        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">
                {{ session_flash() }}
                </div>
            </div>
            {% endif %}
        {% endblock flashes %}
            
        {% block content_row %}
        <div class="content col-sm-11">
            <div class="row">
                {% block content %}
                <div class="col-sm-2 left-menu">
                    {% block content_left_menu %}
                    <h2>Sidebar</h2>
                    {% endblock content_left_menu %}
                </div>
                <div class="col-sm-10 center">
                    {% block page_header %}
                    <div class="page-header col-sm-12">
                          <h5>{% block title %}Kdig Project .2{% endblock title %}</h5>
                    </div>
                    {% endblock page_header %}
                    {% block content_content %}
                        <div class="col-sm-12"></div>
                    {% endblock content_content %}
                </div>
                {% endblock content %}
            </div>
        </div>
        {% endblock content_row %}
        <div class="right-menu col-sm-1"> <!-- menu right -->
            {{ mopa_bootstrap_menu('archaeologicalmenu') }}
        </div>
    </div> <!-- end container -->
    {% endblock container %}
    {% block footer %}
    <footer class="footer">
        <div class="row">
            <div class="right-menu col-sm-12">
                <p>&copy; <a href="mailto:stefano.bassetto.nep@gmail.com" target="_blank">Stefano Bassetto</a> 2013</p>
                <p>someone want to write foot?</p><p>please don't write me.!!!</p>
            </div>
        </div>
    </footer>
    {% endblock footer %}
    {% block foot_script %}
    
    <script type="text/javascript">
        var options = { 
            target:        '.content',
            beforeSubmit:  showRequest,  
        //                success:       showResponse,
            error: function(jqXHR, exception) {
                ajaxerror(jqXHR, exception);
            }
        }; 

        var optsspin = {
            lines: 13, // The number of lines to draw
            length: 35, // The length of each line
            width: 16, // The line thickness
            radius: 34, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 40, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb
            speed: 0.8, // Rounds per second
            trail: 83, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        }; 
        $(document).ready( function (event) {
            var routeflash = Routing.generate('template_flash');
            $("a[data-toggle=tooltip]")
                .tooltip()
                .click(function(e) {
                    e.preventDefault();
                });

            // tooltip initialization
            $("a[data-toggle=popover]")
                .popover()
                .click(function(e) {
                    e.preventDefault();
                });
    
            $(".changeGroup .dropdown-menu a").on("click", function(event){ 
                event.preventDefault();
                getdefaultstringAjax ($(this).attr('href'), $('.changeGroup a.dropdown-toggle'), 'changetext');
                location.reload();
                return false;
            });
            
            $("#widgets-area-button").click(function() {
              if ($(this).hasClass("open")) {
                    $(this).removeClass("open").addClass("close");
                    var f = $(".center").attr("class");
                    var g = $(".content").attr("class");
                    var e = parseInt(f.replace(/^\D+/g, ""));
                    var h = parseInt(g.replace(/^\D+/g, ""));
                    var c = e - 1;
                    var i = h - 1;
                    var d = "span" + c;
                    var m = "span" + i;
                    $(".center").removeClass("span" + e);
                    $(".center").addClass(d);
                    $(".content").removeClass("span" + h);
                    $(".content").addClass(m);

                    $(".right-menu").fadeIn();
              } else {
                    $(this).removeClass("close").addClass("open");
                    var f = $(".center").attr("class");
                    var g = $(".content").attr("class");
                    var e = parseInt(f.replace(/^\D+/g, ""));
                    var h = parseInt(g.replace(/^\D+/g, ""));
                    var c = e + 1;
                    var i = h + 1;
                    var d = "span" + c;
                    var m = "span" + i;
                    $(".right-menu").fadeOut();
                    $(".center").removeClass("span" + e);
                    $(".center").addClass(d);
                    $(".content").removeClass("span" + h);
                    $(".content").addClass(m);
              }
            });
            $("#close-widgets-area").click(function() {
                var f = $(".center").attr("class");
                var g = $(".content").attr("class");
                var e = parseInt(f.replace(/^\D+/g, ""));
                var h = parseInt(g.replace(/^\D+/g, ""));
                var c = e + 1;
                var i = h + 1;
                var d = "span" + c;
                var m = "span" + i;
                $(".right-menu").fadeOut();
                $(".center").removeClass("span" + e);
                $(".center").addClass(d);
                $(".content").removeClass("span" + h);
                $(".content").addClass(m);
                if ($("#widgets-area-button").hasClass("open")) {
                    $("#widgets-area-button").removeClass("open").addClass("close");
                } else {
                    $("#widgets-area-button").removeClass("close").addClass("open");
                }
            });
            
            $("#main-menu-toggle").click(function() {
              if ($(this).hasClass("open")) {
                $(this).removeClass("open").addClass("close");
                var f = $(".center").attr("class");
                var g = $(".content").attr("class");
                var e = parseInt(f.replace(/^\D+/g, ""));
                var h = parseInt(g.replace(/^\D+/g, ""));
                var c = e - 1;
                var i = h - 1;
                var d = "span" + c;
                var m = "span" + i;
                $(".center").removeClass("span" + e);
                $(".center").addClass(d);
                
                $(".content").removeClass("span" + h);
                $(".content").addClass(m);
                
                $(".left-menu").fadeIn();
              } else {
                $(this).removeClass("close").addClass("open");
                var f = $(".center").attr("class");
                var g = $(".content").attr("class");
                var e = parseInt(f.replace(/^\D+/g, ""));
                var h = parseInt(g.replace(/^\D+/g, ""));
                var c = e + 1;
                var i = h + 1;
                var d = "span" + c;
                var m = "span" + i;
                $(".left-menu").fadeOut();
                $(".center").removeClass("span" + e);
                $(".center").addClass(d);
                $(".content").removeClass("span" + h);
                $(".content").addClass(m);
              }
            });
        });
        
        function ajaxerror(jqXHR, exception) {
            var title = 'not understand';
            if (jqXHR.status == 404) {
                var title = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                var title = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                var title = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                var title = 'Time out error.';
            } else if (exception === 'abort') {
                var title = 'Ajax request aborted.';
            } else {
                var title = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            $(".content").spin(false);
            bootbox.alert(jqXHR.responseText);
        }
        // pre-submit callback 
        function showRequest(formData, jqForm, options) { 
            return true; 
        } 

        function checkname(route, element) {
            var idname = element.value;
            var routechecknamesu = Routing.generate(route, { name: idname });
            getdefaultstringAjax(routechecknamesu, element, 'html');
        }
        function showResponse(data, how) {
        }
        function getdefaultstringAjax (route, where, how, fn, type) { 
            fn = typeof fn !== 'undefined' ? fn : function(){};
            type = typeof type !== 'undefined' ? type : 'POST';
            var eseguiminchia = jQuery.ajax({
                url: route,
                type: type,
                cache: false,
                beforeSend: function () {
                    $(".content").spin(optsspin);
                    $(where).attr('disabled', true);
                },
                success: function(data){
                    switch(how) { 
                        case 'fill': 
                            $(where).attr('disabled', false);
                            $(where).val(data);
                            break; 
                        case 'html': 
                            where.append(data);
                            break; 
                        case 'changetext': 
                            where.html(data);
                            
                    $('form').submit(function() {
                        $(this).ajaxSubmit(options); 
                        return false; 
                    }); 
                    $(".breadcrumb > li > a").on("click", function(event){
                        event.preventDefault();
                        return false;
                    });
                            
                            break; 
                        default: 
                      }
                    fn;
                    $(".content").spin(false);
                },
                error: function(jqXHR, exception) {
                    ajaxerror(jqXHR, exception);
                }
            }) 
        }
        /* post-submit callback 
        function showResponse(responseText, statusText, xhr, $form)  { 
            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
                '\n\nThe output div should have already been updated with the responseText.'); 
            } */
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
    {% endblock foot_script %}
{% endblock body %}
</body>
</html>
