{% block title %}
    {{ 'views.new.creation'|trans({'%entity%': 'Presample'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'Presample'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('presample_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('presample') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var id_bucket  = $("#kdig_archaeologicalbundle_presampletype_bucket option:selected").val();
        var routegetdefault = Routing.generate('kdig_presample_defaulttext', { id_bucket: id_bucket });
        getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_presampletype_name','fill');
        
        $('#kdig_archaeologicalbundle_presampletype_bucket').change(function() {
            var id_bucket = $("#kdig_archaeologicalbundle_presampletype_bucket option:selected").val();
            var routegetdefault = Routing.generate('kdig_presample_defaulttext', { id_bucket: id_bucket });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_presampletype_name','fill');
        });
    });
</script>
{% endblock %}