{% block content %}
<div class="span1 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span11 center">
    {% block page_header %}
    <div class="page-header span12">
        {{ apy_breadcrumb_trail_render() }}
    </div>
    {% endblock page_header %}
    {% block content_content %}
        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
        {{ JSFV(form) }}

        {{ form_javascript(form) }}
        {{ form_stylesheet(form) }}
        <form id="presampleform" class="" action="{{ path('presample_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="row-fluid">
                {{ form_widget(form) }}
                <p class="span12">
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </div>
        </form>
        <script type="text/javascript">
        $(document).ready( function () {
            var formsave1 = new autosaveform({
                    formid: 'presampleform',
                    pause: 2000 
            });
            var id_bucket  = $("#kdig_archaeologicalbundle_presampletype_bucket option:selected").val();
            var routegetdefault = Routing.generate('kdig_presample_defaulttext', { id_bucket: id_bucket });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_presampletype_name','fill');

            $('#kdig_archaeologicalbundle_presampletype_bucket').change(function() {
                var id_bucket = $("#kdig_archaeologicalbundle_presampletype_bucket option:selected").val();
                var routegetdefault = Routing.generate('kdig_presample_defaulttext', { id_bucket: id_bucket });
                getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_presampletype_name','fill');
            });
        });
        </script>
    {% endblock content_content %}
</div>
{% endblock content %}