{% block title %}
 {{ 'views.edit.edit'|trans({'%entity%': 'Us'}, 'JordiLlonchCrudGeneratorBundle') }} - {{ entity.typeus.name }}{{ entity.name }}
{% endblock %}

{% block page %}

<form class="well" action="{{ path('us_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('us') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('us_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function(){
        $('#kdig_archaeologicalbundle_ustype_site').change(function() {
            id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
            id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
            var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
        });
        $('#kdig_archaeologicalbundle_ustype_area').change(function() {
            id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
            id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
            var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
        });
    });
</script>
{% endblock %}