{% block title %}
    {{ 'views.new.creation'|trans({'%entity%': 'Us'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

{{ form_javascript(form) }}
{{ form_stylesheet(form) }}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}

<form class="well" action="{{ path('us_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('us') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function(){
        var id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
        var id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
        var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
        getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name','fill');
        
        $('#kdig_archaeologicalbundle_ustype_site').change(function() {
            id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
            id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
            var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
        });
        $('#kdig_archaeologicalbundle_ustype_area').change(function() {
            id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
            id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
            var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
        });
    });
</script>
{% endblock %}