{% block content %}
<div class="span2 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span10 center">
    {% block page_header %}
    <div class="page-header span12">
        <h5>{{ 'views.new.creation'|trans({'%entity%': 'Us'}, 'JordiLlonchCrudGeneratorBundle') }}</h5>
    </div>
    {% endblock page_header %}
    {% block content_content %}
        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
        {{ JSFV(form) }}

        {{ form_javascript(form) }}
        {{ form_stylesheet(form) }}
        <form id="usform" class="" action="{{ path('us_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="row-fluid">
                {{ form_widget(form) }}
                <p class="span12">
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                var formsave1 = new autosaveform({
                        formid: 'usform',
                        pause: 2000 
                });
                var id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                var id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name','fill');

                $('#kdig_archaeologicalbundle_ustype_site').change(function() {
                    id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                    id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                    var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                    getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
                });
                $('#kdig_archaeologicalbundle_ustype_area').change(function() {
                    id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                    id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                    var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                    getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
                });
            });
        </script>
    {% endblock content_content %}
</div>
{% endblock content %}