{% extends app.request.xmlHttpRequest ? kdig.templates.full : kdig.templates.partial %}
{% block content %}
<div class="span1 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span11 center">
    {% block page_header %}
    <div class="page-header span12">
        {{ apy_breadcrumb_trail_render() }}
    </div>
    {% endblock page_header %}
    {% block content_content %}
        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
        {{ JSFV(form) }}

        {{ form_javascript(form) }}
        {{ form_stylesheet(form) }}
        <form id="usform" class="" action="{{ path('us_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="row-fluid">
                {{ form_widget(form) }}
                <p class="span12">
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                var formsave1 = new autosaveform({
                        formid: 'usform',
                        pause: 2000 
                });
                var id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                var id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name','fill');

                $('#kdig_archaeologicalbundle_ustype_site').change(function() {
                    id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                    id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                    var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                    getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
                });
                $('#kdig_archaeologicalbundle_ustype_area').change(function() {
                    id_area = $("#kdig_archaeologicalbundle_ustype_area option:selected").val();
                    id_site = $("#kdig_archaeologicalbundle_ustype_site option:selected").val();
                    var routegetdefault = Routing.generate('kdig_us_defaulttext', { id_site: id_site, id_area: id_area });
                    getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_ustype_name', 'fill');
                });
            });
        </script>
        
        <style type="text/css">
            .zebra { background-color: #efefef !important; }
            img.flag { height: 10px !important; width: 15px !important; padding-right: 10px !important; }
            .media-result td {vertical-align: top }
            .media-image { width: 40px !important; }
            .media-image img { height: 40px !important; width: 40px !important;  }
            .media-info { padding-left: 10px !important; vertical-align: top; }
            .media-title { font-size: 1.2em; padding-bottom: 0px !important; }
            .media-synopsis { font-size: .8em; color: #888; }
            .select2-highlighted .media-synopsis { font-size: .8em; color: #eee; }
            .bigdrop.select2-container .select2-results {max-height: 300px !important; width: 600px !important;}
            .bigdrop .select2-results {max-height: 300px !important;}
        </style>
        <script type="text/javascript">

        $(window).load(function(){
            function mediaFormatResult(media) {
                var markup = "<table class='media-result'><tr>";
                if (media.name !== undefined) {
                    markup += "<td class='media-image'><img src='{{ asset('uploads/thumbnails/') }}" + media.name + "'/></td>";
                }
                markup += "<td class='media-info'><div class='media-title'>" + media.name + "</div>";
                if (media.size !== undefined) {
                    markup += "<div class='media-synopsis'>" + media.size + "</div>";
                }
                else if (media.mime !== undefined) {
                    markup += "<div class='media-synopsis'>" + media.mime + "</div>";
                }
                markup += "</td></tr></table>"
                return markup;
            }

            function mediaFormatSelection(media) {
                return "<img src='{{ asset('uploads/thumbnails/') }}" + media.name + "'/><br /><p>"+ media.name +"</p>";
            }
            $field = $('#kdig_archaeologicalbundle_ustype_media');
            var $configs = null;
            // custom configs
            $configs = $.extend($configs, {
                ajax: { 
                    quietMillis: 100,
                    url: "{{ path('media_getmediafromquery') }}",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            q: term,
                            // search term
                            page_limit: 10
                        };
                    },
                    results: function (data, page) {
                        return {results: data.results};
                    }
                },
                formatResult: mediaFormatResult, 
                formatSelection: mediaFormatSelection, 
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                initSelection : function (element, callback) {
                    var items = [];
                    var spiltter = element.val().split(",");
                    var countsplit = spiltter.length;
                    $(spiltter).each(function (index, value) {
                        $.getJSON("{{ path('media_showjson') }}", {id: this}, function(data) {
                            //console.log(data.mime);
                            items.push(data);
                            if ((countsplit-1) == index) { 
                                console.log(items);
                                return callback(items)
                            };
                        });
                    });
            }
            });
            $field.select2($configs);
        });
        </script>
    {% endblock content_content %}
</div>
{% endblock content %}