{% block title %}
    {{ 'views.show.show'|trans({'%entity%': 'Us'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Us</h1>

<form class="form-horizontal">
    <fieldset>        
        <div class="span3">
            <label class="control-label">Campaign</label>
            <div class="controls">                
                <span class="">{{ entity.site }}</span>            
            </div>
        </div>
        <div class="span3">
            <label class="control-label">Area</label>
            <div class="controls">                
                <span class="">{{ entity.area }}</span>            
            </div>
        </div>
        <div class="span3">
            <label class="control-label">Name</label>
            <div class="controls">                
                <span class="">{{ entity.typeus }}{{ entity.name }}</span>            
            </div>
        </div>
        <div class="span3">
            <label class="control-label">Remarks</label>
            <div class="controls">                
                <span class="">{{ entity.remarks }}</span>            
            </div>
        </div>
    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('us') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('us_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('us_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}