{% extends app.request.xmlHttpRequest ? kdig.templates.full : kdig.templates.partial %}
{{ form_javascript(form) }}
{{ form_stylesheet(form) }}
<div>
    <form class="" action="{{ path('photolist_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </p>
    </form>
</div>

<script type="text/javascript">
$(document).ready( function () {
    $("form select").select2({
        placeholder: "Select data"
    });
});
</script>