{% block content %}
<div class="span1 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_navbar('leftmenu') }}
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="span11 center">
    {% block page_header %}
    <div class="page-header span12">
        {{ apy_breadcrumb_trail_render() }}
    </div>
    {% endblock page_header %}
    {% block content_content %}
        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
        {{ JSFV(edit_form) }}

        {{ form_javascript(edit_form) }}
        {{ form_stylesheet(edit_form) }}
        <form id="prepottery_edit_form" class="" action="{{ path('prepottery_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="row-fluid">
                <input type="hidden" name="_method" value="PUT" />
                {{ form_widget(edit_form) }}
                <p class="span12">
                    <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </div>
        </form>

        <script type="text/javascript">
        $(document).ready( function () {
            var formsave1 = new autosaveform({
                    formid: 'prepottery_edit_form',
                    pause: 2000 
            });
                $('#kdig_archaeologicalbundle_prepotterytype_bucket').change(function() {
                    var id_bucket = $("#kdig_archaeologicalbundle_prepotterytype_bucket option:selected").val();
                    var routegetdefault = Routing.generate('kdig_preobject_defaulttext', { id_bucket: id_bucket });
                    getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_prepotterytype_name','fill');
                });
            });
        </script>
    {% endblock content_content %}
</div>
{% endblock content %}