{% block title %}
    {{ 'views.new.creation'|trans({'%entity%': 'Prepottery'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
{{ JSFV(form) }}

<form class="well" action="{{ path('prepottery_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('prepottery') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var id_bucket  = $("#kdig_archaeologicalbundle_prepotterytype_bucket option:selected").val();
        var routegetdefault = Routing.generate('kdig_prepottery_defaulttext', { id_bucket: id_bucket });
        getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_prepotterytype_name','fill');
        
        $('#kdig_archaeologicalbundle_prepotterytype_bucket').change(function() {
            var id_bucket = $("#kdig_archaeologicalbundle_prepotterytype_bucket option:selected").val();
            var routegetdefault = Routing.generate('kdig_prepottery_defaulttext', { id_bucket: id_bucket });
            getdefaultstringAjax(routegetdefault,'#kdig_archaeologicalbundle_prepotterytype_name','fill');
        });
    });
</script>
{% endblock %}